.about-dino{
	margin-bottom: 30px;
}
.about-dino h1{
	color: #333333 !important;
}
.about-dino h1 span{
	text-transform: capitalize;
	color: #607829 !important;
}
.about-body{
	padding-right: 100px;
    padding-left: 100px;
    text-align: center;
}
.about-body p{
	font-size: 1.5em;
}