.ms-section .services{
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.fullscreen .title h1{
    color: $white;
}

.ourservices {
  background-image: url("https://static.pexels.com/photos/257875/pexels-photo-257875.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnail{
    background-color: transparent;
    border: none;
    margin-bottom: -40px;
    background-color: rgba(255,255,255,.8);
    border-radius: 20px;

    h3{
    	color: $green-dark-color;
        margin-top: 5px !important;
        font-weight: bold !important;
    }

    .caption p{
        font-size: 16px;
        font-style: italic;
        color: #5d7628;
    }
}

@media screen and (max-width: 1024px) {
  .colService {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

