$green-dark-color: #607829;
$green-dark-opacity-color: rgba(96,120,41,.9);
$green-light-color: #94c11f;
$green-light-opacity-color: rgba(148,193,31,.8); 
$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #333 !default;